body{
    background: rgb(57, 114, 189);
    font: normal 15pt Arial;
}

header{
text-align: center;
color: white;

}

section{
background: white;
border-radius: 10px;

width: 500px;
margin: auto;
text-align: center;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);

}
div#um{
    
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
   

}
div#dois{
    
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{

    color: white;
    text-align: center;
    font-style: italic;

}